{% extends 'basic.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<div class="container p-5 mt-4 bg-dark text-white">
    <div class="card bg-secondary">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/images/dj.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Django</h5>
                    <p class="card-text">Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It is free and open source, has a thriving and active community, great documentation, and many options for free and paid-for support.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card bg-secondary">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/images/py.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Python</h5>
                    <p class="card-text">Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card bg-secondary">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/images/hnc.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">HTML & CSS</h5>
                    <p class="card-text">HTML is the language for describing the structure of Web pages. CSS is the language for describing the presentation of Web pages, including colors, layout, and fonts. It allows one to adapt the presentation to different types of devices, such as large screens, small screens, or printers. CSS is independent of HTML and can be used with any XML-based markup language. The separation of HTML from CSS makes it easier to maintain sites, share style sheets across pages, and tailor pages to different environments.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}