{% extends 'basic.html' %}
{% block title %}
Friend's Blog
{% endblock title %}
{% block body %}

{% for post in allPosts %}
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                Name : {{post.name}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.content}}</p>
                <hr>
                <p>Posted on : {{post.timeStamp}}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock body %}
